body {
  background-color: seagreen;
}

h2 {
  color: white;
  text-align: center;
  font-size: 80px;
  letter-spacing: -4px;
  text-shadow: 2px 2px 5px lightblue;
}

img {
  border: solid lightblue 16px;
  
}

img:hover {
  border: solid lightblue 12px;
}
